.title
{
    width : 10% ;
    position:relative ;

}

body {
    background-color : antiquewhite ;


}
.table {
    color: red;
    letter-spacing: 2px;
    font-family: "bebas neue";
    font-size: 20px;
    line-height: 10px;
    width: 100%;
   
    box-shadow: 1px 10px 10px 1px #e79292;
    box-sizing: border-box ;
    border-radius: 10px;
    height : 100px ;
}
.comp {
    color: red;
    letter-spacing: 2px;
    font-family: "bebas neue";
    font-size: 20px;
    line-height: 10px;
    width: 100%;
    box-shadow: 1px 10px 10px 1px #e79292;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100px;
}