.box {
    color: gray;
    box-shadow: 1px 10px 10px 1px ;
   font-family  : "Bebas Neue" ;
   font-size : medium ;
    float: left;
    margin: 10px;
    width: 70%;
    border-radius: 10px;
    background-color : antiquewhite ;
    height : 35% ;
}

.nav-divider {
    width: 70%;
    height: 35% ;
}


.button1{

    margin : 10px ;
  
}

body{

    background-color : black ;
}