@*<link href="~/Content/MyDesign/TeacherDesign.css" rel="stylesheet" />*@


@using (Html.BeginForm("addTeacher", "Teacher", FormMethod.Post))


{
    @Styles.Render("~/TeacherDesign")



<div class="form">

    <label for="fname" class="add">Teacher Name</label>
    <input type="text" class="in" name="teacherName">
    <label for="lname" class="add">Teacher Number</label>
    <input type="text" class="in" name="teacherNo">

    <input type="submit" class="buttonSubmit" value="Add teacher" />

</div>

    @*<label for="fname" value = "@Model.teacherName">Teacher Name</label disabled >
        <input type="text" name="teacherName">
        <label for="lname" value ="@Model.teacherNo">Teacher Number</label disabled>
        <input type="text" name="teacherNo">*@




}





