@model  List<MVC.Models.Student>

@{
    ViewBag.Title = "GetDetails";
}
<h2></h2>

@foreach (var item in Model)
{
    <tr>


        <td>

            @Html.DisplayFor(modelItem => item.studentId)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.studentName)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.studentNo)
        </td>
    </tr>
}

