


@using (Html.BeginForm("Insert", "Student", FormMethod.Post))


{

    @Styles.Render("~/Student");


<div class="wrapper">
    
    <div class="field--wrapper">
        <label for="fname">Student Name</label>
        <input type="text" name="studentName" placeholder="Student Name" required />
    </div>

    <div class="field--wrapper">
        <label for="lname">Last Name</label>
        <input type="text" name="studentNo" placeholder="Student Number" required />

    </div>

    @*<div type="submit" value ="Insert" ></div>*@


<div>
    @*<a href="something" class="button4" type="submit" value="Insert" style="background-color: #4ef18f ">Button 5</a>*@
   
    <input type="submit" value="Insert" class="button4" style="background-color: #4ef18f "/>
</div>

</div>


}