


@using (Html.BeginForm("Insert", "Student", FormMethod.Post))




<div class="field--wrapper">
    <label for="fname">First Name</label>
    <input name="fname" placeholder="First Name" />
</div>

<div class="field--wrapper">
    <label for="lname">Last Name</label>
    <input name="lname" placeholder="Last Name" />
</div>

<div class="field--wrapper">
    <label for="city">City</label>
    <input name="city" placeholder="City" value="Springville" />
</div>