@model MVC.Models.Course


<h2>

   @Model.courseName
  
</h2>


<h2>  
    
    @Model.isAvailable
    
    
    </h2>


<h3>@Model.courseId</h3>


<table>
    <tr>
        <td></td>
    </tr>
</table>